.cover {
position: relative;
height: 100vh;
}

.cover:before{
 content: "";
 position: absolute;
 top:0;
 left:0;
 right: 0;
 bottom:0;
 background-image: linear-gradient(to bottom, url('../images/sesc-assinatura-2021.png') );
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 z-index: -1;
}